<!DOCTYPE html>
<html>
<head>
  <title>Smart Surveillance Dashboard</title>
  <script>
    const socket = new WebSocket("ws://" + location.host + "/ws");
    socket.onmessage = function(event) {
      const msg = JSON.parse(event.data);
      console.log("📢 ALERT:", msg);
    };
    setInterval(() => {
      const img = document.querySelector('img');
      const url = new URL(img.src);
      url.searchParams.set('_ts', Date.now());
      img.src = url.href;
    }, 5000);
  </script>
</head>
<body>
  <h1>Live IP Webcam Feed</h1>
  <img src="http://{{ ip }}:{{ port }}/video" width="640" />
  <br><br>
  <p>System is now running detection automatically every 5 seconds. Check console for alerts.</p>
</body>
</html>
